# solutions
solutions/*

# Mac
.DS_Store

# Vim
*un~

# vscode
.vscode

# TeX
*.aux
*.bbl
*.blg

# Jekyll
_site

imdb.csv
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Ipython 
*.ipynb_checkpoints

*.bcf

*.fdb_latexmk

*.fls

*.out

syllabus/syllabus.pdf

*.xml

w04-perception-design/sneakySnake.jpg

w04-perception-design/sneakySnake.png
syllabus/syllabus.synctex.gz
.idea
dataviz-solutions

docs/m13-text/lab13_notebook_shin_jihye.html
docs/m13-text/lab13_notebook_shin_jihye.ipynb
docs/m13-text/lab13.ipynb
docs/m12-maps/nyc_taxi_data_2014.csv
docs/m12-maps/nyc_taxi_data_2014.csv.gz
.git/objects/9a/95e1a86b007cc9390f3e0a4c3914aee5889e83
.git/objects/pack/pack-eab971de0509f4910d45c68e84808fa9254d28f3.pack
